/* resets */

* {
  margin: 0;
  padding: 0;
}

/* utils */

.container {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: #e5e5e5;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* header */

/* main */

/* tags */

.html {
  background-color: rgb(202, 123, 255);
}
.css {
  background-color: rgb(255, 98, 98);
}
.js {
  background-color: rgb(255, 253, 122);
}
.php {
  background-color: rgb(67, 64, 247);
}

/* cards */

.card {
  border-radius: 20px;
  background-color: white;
  max-width: 600px;
}

.card-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.card-img img {
  border-radius: 20px 20px 0 0;
}

.card-body {
  padding: 15px;
}

.card-body > h3 {
  margin-bottom: 15px;
}

.card-body p {
  margin-bottom: 15px;
}

.card-footer {
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 15px;
}

.tag {
  border: none;
  padding: 5px 15px;
  margin-left: 15px;
  border-radius: 10px;
}

/* footer */
